@font-face {
    font-family: "TVPS-Vain-Capital-2";
    src: url('TVPS-Vain-Capital-2.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "JetBrainsMono-Light";
    src: url('JetBrainsMono-Light.ttf');
    font-weight: normal;
    font-style: normal;
}